@{
    ViewData["Title"] = "Home Page";
}

<section class="sobre">
            <div class="extras">
                <img class="img-circulo " src="~/css/burrice/Assets/viajante3.png" />
                <div class="social-media">
                    <a href=""><img src="~/css/burrice/Assets/face_logo1.png" /></a>
                    <a href=""><img src="~/css/burrice/Assets/icons8-instagram.svg" /></a>
                    <a href=""><img src="~/css/burrice/Assets/twitter_logo.png" /></a>
                </div>
            </div><!--extras-->
            <div class="container">
                <div class="center">
                    <div class="texto-sobre">
                        <h2>Mais do que simplesmente viajar!<br /></h2>
                        <h4><span class="destaque">Viaje +</span> trabalha com roteiros culturais e históricos tornando sua viagem uma experiência única!</h4>
                    </div>
                </div>
            </div>

        </section>

