*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.img-circulo {
    height: 45%;
    position: relative;
    left: -5%;
    top: 4%;
}


.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin:0 auto;
    padding:0 2%;
}

html, body{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

header{
    height: 200px;
    padding: 20px 0;

}
.Logo {

    width: 40%;
}
 
.menu{
    padding-top: 0%;
    width: 60%;
    text-align: right;

}

.menu a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}

section.sobre{
    height: calc(100% - 200px);
    position: relative;
}

.extras{
    position: absolute;
    bottom: -600px;
    right: -517px;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background-color: rgb(0, 238, 255);
}

.social-media{
    position: absolute;
    right: 510px;
    top: 100px;

}

.social-media img {
    display: block;
    width:20px;
    margin: 20px;
    right: 20px;

    }
   
.texto-sobre{
    margin-top: 120px;
    font-weight: bold;
    font-size: 14px;
    max-width: 800px;

}

.texto-sobre h2{
    font-size: 35px;
    color: white;
}

.texto-sobre h4{
    font-size: 20px;
    color: white;
    max-width: 650px;
}

.destaque {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color:#ed462f
    
}

